.bemutatkozas-container {
  font-family: "Poppins", sans-serif;
  background-color: #fdece8;
  overflow: hidden;
  padding: 2em;
}

/* A szekció most már rugalmasan nőhet a tartalommal */
.bemutatkozas-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* csak ha kell, akkor nő meg */
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
}

/* Tartalom */
.bemutatkozas-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  text-align: left;
  flex-wrap: wrap;
}

/* Kép */
.bemutatkozas-image {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

.bemutatkozas-img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 50em 50em 0 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/* Szöveg */
.bemutatkozas-text {
  flex: 1 1 50%;
  padding: 2em;
  text-align: left;
}

.bemutatkozas-text h1 {
  font-size: 2em;
  font-weight: bold;
}

.bemutatkozas-text p {
  font-size: 1.1em;
  margin-top: 0.5em;
  line-height: 1.6;
}

/*  Gomb */
.btn-primary {
  background-color: #e49788;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.6em;
  margin-top: 3em;
  transition: background 0.3s;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #c76c6c;
}

[data-aos] {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Reszponzív */
@media (max-width: 800px) {
  .bemutatkozas-content {
    flex-direction: column;
    text-align: center;
    padding: 1em;
  }

  .bemutatkozas-text {
    padding: 1em;
  }

  .bemutatkozas-text h1 {
    font-size: 1.6em;
  }

  .bemutatkozas-text p {
    font-size: 1em;
  }

  .bemutatkozas-img {
    width: 80%;
    max-width: 350px;
  }
  .bemutatkozas-content.reverse {
    flex-direction: row;
  }

  .bemutatkozas-content.reverse {
    flex-direction: column-reverse;
  }

  .bemutatkozas-section {
    min-height: auto; 
    padding: 2em 1em 1em 1em;
  }
}
